/*Import font from google*/

@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
:root {
    --probe-base-unit: min(calc(0.15*100vw), calc(0.15*100vh));
    --probe-span-radius: min(calc(0.2*100vw), calc(0.2*100vh));
    --cos30: 0.86602540378;
    --sin30: 0.5;
    --crosshair-color: black;
    --crosshair-length: max(20px, calc(var(--probe-span-radius)/3.0));
    --crosshair-width: max(5px, calc(var(--probe-span-radius)/24.0));
    --main-bg-color: rgb(126, 126, 126);
    --canvas-width: 75%;
    --canvas-height: 80%;
    --backgroundcolor-forward: rgb(102, 228, 102);
    --backgroundcolor-backward: rgb(252, 42, 105);
    --backgroundcolor-neutral: rgb(189, 189, 189);
    --canvas-radii: 5%;
}

html {
    font-family: 'Prompt', sans-serif;
    background-color: var(--main-bg-color);
}

::placeholder {
    font-family: 'Prompt', sans-serif;
}

button {
    font-family: 'Prompt', sans-serif;
}

input {
    font-family: 'Prompt', sans-serif;
}

select {
    font-family: 'Prompt', sans-serif;
}

body>h1 {
    display: flex;
    height: 3em;
    width: max-content;
    text-align: center;
    font-size: 2rem;
    color: azure;
    margin: 0 auto;
    margin-top: 2rem;
}

#welcomeCanvas>h1 {
    font-size: large;
}

#hidden {
    display: none;
}

header {
    font-size: medium;
    display: flex;
    width: 80%;
    height: 3em;
    margin: auto;
    justify-content: center;
}

main {
    /*background-color: navajowhite;*/
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
}

.welcomeCanvas {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    margin: 0 5%;
    border: 5px solid red;
    background-color: bisque;
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.preparationCanvas {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    margin: 5% 5%;
    padding: 5% 5%;
    border: 5px solid red;
    background-color: bisque;
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.preparationCanvas>h1 {
    font-size: large;
    display: contents;
}

.preparationCanvas>h2 {
    font-size: medium;
}

.preparationCanvas>form {
    font-size: small;
    display: contents;
    margin-top: 7%;
    line-height: 2em;
}

.instructionCanvas {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    margin: 0 5%;
    border: 5px solid red;
    background-color: bisque;
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.testCanvas {
    position: fixed;
    left: calc(50% - var(--canvas-width)/2.0);
    top: calc(50% - var(--canvas-height)/2.0);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    border: 5px solid red;
    background-color: bisque;
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.testCanvas-forward {
    position: fixed;
    left: calc(50% - var(--canvas-width)/2.0);
    top: calc(50% - var(--canvas-height)/2.0);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    border: 5px solid rgb(152, 207, 152);
    background-color: var(--backgroundcolor-forward);
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.testCanvas-backward {
    position: fixed;
    left: calc(50% - var(--canvas-width)/2.0);
    top: calc(50% - var(--canvas-height)/2.0);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    border: 5px solid rgba(255, 26, 57, 0.685);
    background-color: var(--backgroundcolor-backward);
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.testCanvas-neutral {
    position: relative;
    left: calc(50% - var(--canvas-width)/2.0);
    top: calc(50% - var(--canvas-height)/2.0);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    border: 5px solid rgb(212, 212, 212);
    background-color: var(--backgroundcolor-neutral);
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.Probe {
    position: absolute;
    display: block;
    width: var(--probe-base-unit);
    line-height: var(--probe-base-unit);
    height: var(--probe-base-unit);
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    border: 3px solid yellowgreen;
    margin: 0;
    padding: 0;
}

.Probe:hover {
    border-color: white;
}

.Probe-flashing-forward {
    background-color: yellowgreen;
    position: absolute;
    display: block;
    width: var(--probe-base-unit);
    line-height: var(--probe-base-unit);
    height: var(--probe-base-unit);
    border-radius: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 3px solid white;
}

.Probe-flashing-backward {
    background-color: red;
    position: absolute;
    display: block;
    width: var(--probe-base-unit);
    line-height: var(--probe-base-unit);
    height: var(--probe-base-unit);
    border-radius: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 3px solid white;
}

.Probe-flashing-click {
    background-color: rgb(68, 170, 230);
    position: absolute;
    display: block;
    width: var(--probe-base-unit);
    line-height: var(--probe-base-unit);
    height: var(--probe-base-unit);
    border-radius: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 3px solid white;
}

#Probe1 {
    left: calc(50% - var(--probe-base-unit)/2.0);
    top: calc(50% - var(--probe-span-radius) - var(--probe-base-unit)/2.0);
}

#Probe2 {
    left: calc(50% + var(--probe-span-radius)*var(--cos30) - var(--probe-base-unit)/2.0);
    top: calc(50% - var(--probe-span-radius)*var(--sin30) - var(--probe-base-unit)/2.0);
}

#Probe3 {
    left: calc(50% + var(--probe-span-radius)*var(--cos30) - var(--probe-base-unit)/2.0);
    top: calc(50% + var(--probe-span-radius)*var(--sin30) - var(--probe-base-unit)/2.0);
}

#Probe4 {
    left: calc(50% - var(--probe-base-unit)/2.0);
    top: calc(50% + var(--probe-span-radius) - var(--probe-base-unit)/2.0);
}

#Probe5 {
    left: calc(50% - var(--probe-span-radius)*var(--cos30) - var(--probe-base-unit)/2.0);
    top: calc(50% + var(--probe-span-radius)*var(--sin30) - var(--probe-base-unit)/2.0);
}

#Probe6 {
    left: calc(50% - var(--probe-span-radius)*var(--cos30) - var(--probe-base-unit)/2.0);
    top: calc(50% - var(--probe-span-radius)*var(--sin30) - var(--probe-base-unit)/2.0);
}

.Probe-selected {
    background-color: red;
    width: var(--probe-base-unit);
    line-height: var(--probe-base-unit);
    height: var(--probe-base-unit);
    border-radius: 50%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    border: 3px solid crimson;
}

.Crosshair {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: var(--crosshair-color);
}

#Crosshair1 {
    width: var(--crosshair-length);
    height: var(--crosshair-width);
    left: calc(50% - var(--crosshair-length)/2.0);
    top: calc(50% - var(--crosshair-width)/2.0);
}

#Crosshair2 {
    height: var(--crosshair-length);
    width: var(--crosshair-width);
    top: calc(50% - var(--crosshair-length)/2.0);
    left: calc(50% - var(--crosshair-width)/2.0);
}

footer>a {
    font-style: normal;
    text-decoration: none;
    color: black;
    display: none;
    line-height: 1.5em;
    padding: 2px;
    background-color: beige;
    border: 1px solid black;
}

footer>a:hover {
    background-color: burlywood;
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    font-size: x-small;
    flex-direction: row;
    align-items: center;
    position: fixed;
    border: 5px solid rgb(104, 104, 250);
    bottom: 0;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 5px;
    background-color: rgb(104, 104, 250);
    color: aliceblue;
    text-align: center;
    flex-wrap: wrap;
    text-overflow: ellipsis;
}

footer:hover {
    height: 3em;
    transition: 0.3s;
}