/*Import font from google*/

@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
:root {
    --probe-base-unit: min(calc(0.15*100vw), calc(0.15*100vh));
    --probe-span-radius: min(calc(0.2*100vw), calc(0.2*100vh));
    --cos30: 0.86602540378;
    --sin30: 0.5;
    --crosshair-color: black;
    --crosshair-length: max(20px, calc(var(--probe-span-radius)/3.0));
    --crosshair-width: max(5px, calc(var(--probe-span-radius)/24.0));
    --main-bg-color: rgb(126, 126, 126);
    --canvas-width: 75%;
    --canvas-height: 80%;
    --backgroundcolor-forward: rgb(102, 228, 102);
    --backgroundcolor-backward: rgb(252, 42, 105);
    --backgroundcolor-neutral: rgb(189, 189, 189);
    --canvas-radii: 5%;
}

html {
    font-family: 'Prompt', sans-serif;
    background-color: var(--main-bg-color);
}

::placeholder {
    font-family: 'Prompt', sans-serif;
}

button {
    font-family: 'Prompt', sans-serif;
}

input {
    font-family: 'Prompt', sans-serif;
}

select {
    font-family: 'Prompt', sans-serif;
}

title {
    display: block;
    text-align: center;
    font-size: 50px;
    color: azure;
    margin: 0 auto;
}

header {
    display: flex;
    width: 80%;
    height: 5em;
    margin: auto;
    justify-content: center;
}

main {
    /*background-color: navajowhite;*/
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
}

.welcomeCanvas {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    margin: 0 5%;
    border: 5px solid red;
    background-color: bisque;
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.preparationCanvas {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    margin: 0 5%;
    border: 5px solid red;
    background-color: bisque;
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.instructionCanvas {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    margin: 0 5%;
    border: 5px solid red;
    background-color: bisque;
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.testCanvas {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    border: 5px solid red;
    background-color: bisque;
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.testCanvas-forward {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    border: 5px solid red;
    background-color: var(--backgroundcolor-forward);
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.testCanvas-backward {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    border: 5px solid red;
    background-color: var(--backgroundcolor-backward);
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.testCanvas-neutral {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: var(--canvas-width);
    height: var(--canvas-height);
    border: 5px solid red;
    background-color: var(--backgroundcolor-neutral);
    margin: 0 auto;
    border-radius: var(--canvas-radii);
}

.Probe {
    position: absolute;
    display: block;
    width: var(--probe-base-unit);
    line-height: var(--probe-base-unit);
    height: var(--probe-base-unit);
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    border: 3px solid yellowgreen;
    margin: 0;
    padding: 0;
}

.Probe:hover {
    border-color: white;
}

.Probe-flashing-forward {
    background-color: yellowgreen;
    position: absolute;
    display: block;
    width: var(--probe-base-unit);
    line-height: var(--probe-base-unit);
    height: var(--probe-base-unit);
    border-radius: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 3px solid white;
}

.Probe-flashing-backward {
    background-color: yellowgreen;
    display: block;
    width: var(--probe-base-unit);
    line-height: var(--probe-base-unit);
    height: var(--probe-base-unit);
    border-radius: 50%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    border: 3px solid white;
}

#Probe1 {
    left: calc(50% - var(--probe-base-unit)/2.0);
    top: calc(50% - var(--probe-span-radius) - var(--probe-base-unit)/2.0);
}

#Probe2 {
    left: calc(50% + var(--probe-span-radius)*var(--cos30) - var(--probe-base-unit)/2.0);
    top: calc(50% - var(--probe-span-radius)*var(--sin30) - var(--probe-base-unit)/2.0);
}

#Probe3 {
    left: calc(50% + var(--probe-span-radius)*var(--cos30) - var(--probe-base-unit)/2.0);
    top: calc(50% + var(--probe-span-radius)*var(--sin30) - var(--probe-base-unit)/2.0);
}

#Probe4 {
    left: calc(50% - var(--probe-base-unit)/2.0);
    top: calc(50% + var(--probe-span-radius) - var(--probe-base-unit)/2.0);
}

#Probe5 {
    left: calc(50% - var(--probe-span-radius)*var(--cos30) - var(--probe-base-unit)/2.0);
    top: calc(50% + var(--probe-span-radius)*var(--sin30) - var(--probe-base-unit)/2.0);
}

#Probe6 {
    left: calc(50% - var(--probe-span-radius)*var(--cos30) - var(--probe-base-unit)/2.0);
    top: calc(50% - var(--probe-span-radius)*var(--sin30) - var(--probe-base-unit)/2.0);
}

.Probe-selected {
    background-color: red;
    width: var(--probe-base-unit);
    line-height: var(--probe-base-unit);
    height: var(--probe-base-unit);
    border-radius: 50%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    border: 3px solid crimson;
}

.Crosshair {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: var(--crosshair-color);
}

#Crosshair1 {
    width: var(--crosshair-length);
    height: var(--crosshair-width);
    left: calc(50% - var(--crosshair-length)/2.0);
    top: calc(50% - var(--crosshair-width)/2.0);
}

#Crosshair2 {
    height: var(--crosshair-length);
    width: var(--crosshair-width);
    top: calc(50% - var(--crosshair-length)/2.0);
    left: calc(50% - var(--crosshair-width)/2.0);
}

footer>a {
    font-style: normal;
    text-decoration: none;
    color: black;
    display: flexbox;
    line-height: 1.5em;
    padding: 2px;
    background-color: beige;
    border: 1px solid black;
}

footer>a:hover {
    background-color: burlywood;
}

footer {
    position: fixed;
    bottom: 2em;
}